<!doctype html>

<html>
<head>
    <link href=" ../css/Bahar.css" rel="stylesheet" type= "text/css"/>
        <title>Project Portfolio</title>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
             <ul class="tab">
  
               <li><a href= "./Honors_Awards.html" class="tablinks highlighted">Honors & Awards</a></li>

               <li><a href= "./Employment.html" class="tablinks highlighted">Employment</a></li>

               <li><a href= "./Related_Courses.html" class="tablinks highlighted">Related Courses</a></li>

               <li><a href= "./projects.html" class="tablinks highlighted">Projects</a></li>

               <li><a href= "./skills.html" class="tablinks highlighted">Skills</a></li>

               <li><a href= "./" class="tablinks highlighted">Home</a></li>

            </ul>
                  <article class="tablinks">
                    <section id="Employment">
                      <div id="Employment" class="tabcontent">

                        <ol>

                      <strong><li>Academic skills Center at Mesa College</li></strong>
                        <ul style="list-style-type:disc">
                          <li>Math Coach/Tutor</li>
                          <li>Teach from basic skills math to advanced calculus</li>
                          <li>Share knowledge, study techniques, and problem- solving skills with students</li>
                        </ul>
  

  
                      <strong><li>Associated Student Government at Mesa College</li></strong>
                        <ul style="list-style-type:disc">
                          <li>senator</li>
                          <li>Associated Student Government at Mesa College </li>
                          <li>Participating in AS Senate meeting and online outreach sub-committee meeting </li>
                       </ul>
                            <a target="_blank" href=" ../images/Hphoto_1.jpg">
                            <p><img src = " ../images/photo_1.jpg" width="250" height=auto align ="right"></img></p>
  
                      <strong><li>Global Network Energy Institute </li></strong>
                          <ul style="list-style-type:disc">
                            <li>Global Network Energy Institute </li>
                            <li>Visualizing sustainable solutions to global problems in a team of 10 interns</li>
                            <li>Raising the awareness about global carbon emissions</li>
                            <li>Solving world challenging problems on global energy</li>
                            <li>Scrum/Agile environment</li>
                          </ul>
                            </ol>
                         </div>


   </head>
</html>
