<!doctype html>

<html>
<head>
  <link href=" ../css/Bahar.css" rel="stylesheet" type= "text/css"/>
  <meta name="google-site-verification" content="0LdpJynj4Z081svj2ZZfqO_6awMahcfAWNb-b_Ajef4" />
  <title>Bahar Mohimani</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>

  <ul class="tab">
    
    <li><a href= "./contact.html" class="tablinks highlighted">Contact</a></li>
    <li><a href= "./Resume.html" class="tablinks highlighted">Resume</a></li>
    <li><a href= "./projects.html" class="tablinks highlighted">Projects</a></li>
    <li><a href= "./" class="tablinks highlighted">Home</a></li>
  
</ul>
<article class="tablinks">
  <section id="home">
   <div id="home" class="tabcontent">
    <a href="../images/HBahar_profile.JPG">
     <img src = " ../images/Bahar_profile.JPG" width="220" height=auto align="left" hspace="50">
   </a>
   <!-- this is a comment in HTML -->
   <h1>Bahar Mohimani <A HREF = "https://www.linkedin.com/in/bahar-mohimani-2734bb59"><img src = " ../images/orangein.png" width="55" height=auto></A></h1> <!-- h1 through h5 are headers. The higher the number, the smaller the header -->
   <h4>3855 Nobel Dr, Apt 2411, San Diego, CA 92122</h4>
   <h4><A HREF = "mailto:baharmohimani@ucsd.edu">baharmohimani@ucsd.edu</A> (858)952-4643</h4>


   <p>I am a senior CSE student at UCSD. I enjoy UX design. I have strong interpersonal skills and computer science knowledge. I have worked on many projects during my time at UCSD: </p>

   <A HREF = "Reflectionship.html"><img class="img-circle" src = " ../images/Ricon2.png" width="300" height=auto align = middle vspace="30" hspace="10" margin-left="100cm"></A>

   <A HREF = "TasteBuddy.html"><img class="img-circle" src = " ../images/Tasteicon2.png" width="300" height=auto align= middle vspace="30" hspace="40"></A>

   <A HREF = "Fetch.html"><img class="img-circle" src = " ../images/Fetchicon2.png" width="300" height=auto align= middle vspace="30"></A>

   

   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87455402-4', 'auto');
  ga('send', 'pageview');

</script>
 </div>
</section>
</article>
</body>
</html>