<!doctype html>

<html>
<head>
    <link href=" ../css/Bahar.css" rel="stylesheet" type= "text/css"/>
      <meta charset="utf-8">
        <title>Project Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
          
</head>

<body>
            <ul class="tab">
  
              <li><a href= "./Honors_Awards.html" class="tablinks highlighted">Honors & Awards</a></li>

               <li><a href= "./Employment.html" class="tablinks highlighted">Employment</a></li>

               <li><a href= "./Related_Courses.html" class="tablinks highlighted">Related Courses</a></li>

                <li><a href= "./projects.html" class="tablinks highlighted">Projects</a></li>

                <li><a href= "./skills.html" class="tablinks highlighted">Skills</a></li>

                <li><a href= "./" class="tablinks highlighted">Home</a></li>
             </ul>
                  <article class="tablinks">
                    <section id="Honors_Awards">
                      <div id="Honors_Awards" class="tabcontent">

                        <a href="../images/HScholarship1.jpg">
                        <img src = " ../images/Scholarship1.jpg" width="360" height=auto align="right" hspace="5" vspace ="10">
                        </a>

                        <a href="../images/HScholarship2.jpg">
                        <img src = " ../images/Scholarship2.jpg" width="360" height=auto align="right" hspace="5" vspace ="10">
                        </a>

                        <ol>
                      <strong><li>Scholarship & awards: </li></strong>
                        <ul style="list-style-type:disc">
                          <li>Foroutan Foundation ($13300)</li>
                          <li>Modjtahedi Foundation ($6000)</li>
                          <li>Associated Students ($800)</li>
                          <li>SHPE-SD ($625)</li>
                          <li>Honors Club ($400)</li>
                          <li>William Angello Memorial ($750)</li>
                          <li>Honors Dean's list awarded to top 4% students</li>
                       </ul>
                      <strong><li>memberships: </li></strong>

                      <ul style="list-style-type:disc">
                        <li>Phi Theta Kappa (PTK) honors society</li>
                        <li>Society of Women Engineers (SWE)</li>
                        <li>Women In Computing (WIC) at UCSD</li>
                        </ol>
                      </div>

  </head>
</html>
