<!doctype html>

<html>
<head>
    <link href=" ../css/Bahar.css" rel="stylesheet" type= "text/css"/>
      <meta charset="utf-8">
        <title>Project Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
            <ul class="tab">
  
              <li><a href= "./Honors_Awards.html" class="tablinks highlighted">Honors & Awards</a></li>

               <li><a href= "./Employment.html" class="tablinks highlighted">Employment</a></li>

               <li><a href= "./Related_Courses.html" class="tablinks highlighted">Related Courses</a></li>

                <li><a href= "./projects.html" class="tablinks highlighted">projects</a></li>

                <li><a href= "./skills.html" class="tablinks highlighted">skills</a></li>

                <li><a href= "./" class="tablinks highlighted">home</a></li>
             </ul>
                  <article class="tablinks">
                    <section id="Honors_Awards">
                      <div id="Honors_Awards" class="tabcontent">
  
                        <ol>
                      <strong><li>Scholarship & awards: </li></strong>
                        <ul style="list-style-type:disc">
                          <li>Foroutan Foundation ($13300)</li>
                          <li>Modjtahedi Foundation ($6000)</li>
                          <li>Associated Students ($800)</li>
                          <li>SHPE-SD ($625)</li>
                          <li>Honors Club ($400)</li>
                          <li>William Angello Memorial ($750)</li>
                          <li>Honors Dean's list awarded to top 4% students</li>
                       </ul>
                      <strong><li>memberships: </li></strong>

                      <ul style="list-style-type:disc">
                        <li>Phi Theta Kappa (PTK) honors society</li>
                        <li>Society of Women Engineers (SWE)</li>
                        <li>Women In Computing (WIC) at UCSD</li>
                        </ol>
                      </div>

  </head>
</html>
