<!doctype html>

<html>
  <head>
    <link href=" ../css/Bahar.css" rel="stylesheet" type= "text/css"/>
      <meta charset="utf-8">
      <title>Bahar Mohimani</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
</head>

<body>
          <ul class="tab">
  
            <li><a href= "./Honors_Awards.html" class="tablinks highlighted">Honors & Awards</a></li>

            <li><a href= "./Employment.html" class="tablinks highlighted">Employment</a></li>

            <li><a href= "./Related_Courses.html" class="tablinks highlighted">Related Courses</a></li>

            <li><a href= "./projects.html" class="tablinks highlighted">Projects</a></li>

            <li><a href= "./skills.html" class="tablinks highlighted">Skills</a></li>

            <li><a href= "./" class="tablinks highlighted">home</a></li>
          </ul>
              <article class="tablinks">
                <section id="projects">
                  <div id="projects" class="tabcontent">
  
                      <a target="_blank" href=" ../images/HCruz Roja.jpg">
                      <p><img src = " ../images/Cruz Roja.jpg" width="250" height=auto align="right"> </img > </p>
                      </a>
                    <ol>
                      <strong><li>Red Cross Tijuana: </li></strong>
                      Created a prototype app to optimize ambulance routing and data sharing in Tijuana
                        <ul style="list-style-type:disc">
                          <li><A HREF = "https://github.com/Cruz-Roja-GlobalTies/UI-Mobile">GitHub link</A></li>
                          <li>Worked with client (local Red Cross manager) to understand user need and translate to requirements</li>
                          <li>Created simple prototypes to facilitate internal and external communication</li>
                          <li>Created a structured team consisting of 5 back-end programmers, 3 UI-website, and 3 UI-mobile designer</li>
                          <li>Built relationship with team members, managed weekly standups and resolved conflicts</li>
                        </ul>


                      <strong><li>Taste Buddy: </li></strong>
                      Created an app that suggest food choice to users based on historical interests and allergy data
                      <ul style="list-style-type:disc">
                        <li><A HREF = "https://github.com/nwaokoron/TasteBuddy.git">GitHub link</A></li>
                        <li>Managed interaction among front-end and back-end developers and made-up client (student group in class)</li>
                        <li>Kept a log of user stories and user need</li>
                        <li>Managed in-person meetings, and skype calls between the team members and client</li>
                        <li>Managed the schedule to meet key milestones and deadlines
                        </li>
                        <li>Divided app development to multiple phases, and reported progress to meet client’s expectation</li>
                      </ul>
  

                  
                        <a target="_blank" href=" ../images/HC_GrandC__0792.JPG">
                       <p><img src = " ../images/C_GrandC__0792.JPG" width="250" height=auto align ="right"></img></p>
                     </a>

                        <strong><li>Grand Connection: </li></strong>
                        Developed a prototype app that connects grandparents to social media using a voice activated device to eliminate loneliness in seniors
                          <ul style="list-style-type:disc">
                            <li>Interviewed seniors to analyze user needs and offer product features that suits their needs</li>
                            <li>Developed product positioning strategy to minimize competition with existing digital photo frames</li>
                          </ul>


                         <strong><li>OneStep donor Search Tool: </li></strong>
                           Prototype for a search interface which allows a user to search for donors. An interface to track donor engagement as well as maintain relationships with their existing donors.
                             <ul style="list-style-type:disc">
                               <li>Contacted the client and also the other potential clients and got their feedback and suggestions</li>
                               <li>Communicated with a team and client that why this matters and how it will change human lives</li>
                            </ul>
  
                      </ol>
                  </div>
              </section>
        </article>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87455402-4', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>