<!doctype html>

<html>
<head>
  <link href=" ../css/Bahar.css" rel="stylesheet" type= "text/css"/>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="0LdpJynj4Z081svj2ZZfqO_6awMahcfAWNb-b_Ajef4" />
  <title>Bahar Mohimani</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <ul class="tab">
    <li><a href= "./contact.html" class="tablinks highlighted">Contact</a></li>
    <li><a href= "./resume.html" class="tablinks highlighted">Resume</a></li>
    <li><a href= "./projects.html" class="tablinks highlighted">Projects</a></li>
    <li><a href= "./" class="tablinks highlighted">Home</a></li>
  </ul>
  <article class="tablinks">
    <section id="projects">
      <div id="projects" class="tabcontent">

        <A HREF = "Reflectionship.html"><img class="img-circle" src = " ../images/Ricon2.png" width="300" height=auto align = middle vspace="100" hspace="40" margin-left="100cm"></A>

        <A HREF = "TasteBuddy.html"><img class="img-circle" src = " ../images/Tasteicon2.png" width="300" height=auto align= middle vspace="100" hspace="40"></A>

        <A HREF = "Fetch.html"><img class="img-circle" src = " ../images/Fetchicon2.png" width="300" height=auto align= middle vspace="100"></A>

      </div>
    </section>
  </article>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87455402-4', 'auto');
  ga('send', 'pageview');

  </script>
</body>
</html>