<!doctype html>

<html>
<head>
    <link href=" ../css/Bahar.css" rel="stylesheet" type= "text/css"/>
      <meta charset="utf-8">
        <title>Bahar mohimani</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
</head>

<body>
          <ul class="tab">
            <li><a href= "./Honors_Awards.html" class="tablinks highlighted">Honors & Awards</a></li>
            <li><a href= "./Employment.html" class="tablinks highlighted">Employment</a></li>
            <li><a href= "./Related_Courses.html" class="tablinks highlighted">Related Courses</a></li>
            <li><a href= "./projects.html" class="tablinks highlighted">Projects</a></li>
            <li><a href= "./skills.html" class="tablinks highlighted">skills</a></li>
            <li><a href= "./" class="tablinks highlighted">Home</a></li>
          </ul>
              <article class="tablinks">
                <section id="Related_Courses">
                  <div id="Related_Courses" class="tabcontent">
  
                    <ol>
                      <strong><li>Product Design</li></strong>
                        <ul style="list-style-type:disc">
                          <li>Design for Development, HCI Design, Usability and Information Architecture</li>
                        </ul>
                            <strong><li>Computer Science</li></strong>
                              <ul style="list-style-type:disc">
                                <li>Java programming, Advanced Data Structures, Algorithms, software engineering, Theory of Computability, Object oriented design, Statistics and Probabilities</li>
                        </ul>
                            <strong><li>Marketing and Management</li></strong>
                              <ul style="list-style-type:disc">
                                <li>Innovation to Market, Business Project Management, Successful Entrepreneurship</li>
                        </ul>
                    </ol>
                </div>
            </section>
        </article>
    </body>
</html>