<!doctype html>

<html>
  <head>
    <link href=" ../css/Bahar.css" rel="stylesheet" type= "text/css"/>
      <meta charset="utf-8">
        <title>Bahar Mohimani</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
            <ul class="tab">
              <li><a href= "./Honors_Awards.html" class="tablinks highlighted">Honors & Awards</a></li>
              <li><a href= "./Employment.html" class="tablinks highlighted">Employment</a></li>
              <li><a href= "./Related_Courses.html" class="tablinks highlighted">Related Courses</a></li>
              <li><a href= "./projects.html" class="tablinks highlighted">Projects</a></li>
              <li><a href= "./skills.html" class="tablinks highlighted">Skills</a></li>
              <li><a href= "./" class="tablinks highlighted">Home</a></li>
           </ul>
                <article class="tablinks">
                  <section id="skills">
                    <div id="skills" class="tabcontent">
                      <ol>
                        <ul style="list-style-type:disc">
                          <img vspace="10">

                          <ol>
                      <strong><li>Product Design</li></strong>
                        <ul style="list-style-type:disc">
                          <li>InVision, user experience, prototyping and story board, Product improvement, user stories, product feature definition, UI/UX
                          </li>
                        </ul>
                      <strong><li>Computer Science</li></strong>
                        <ul style="list-style-type:disc">
                            <li>HTML/CSS, Java, C/C++, Data structures, Testing, Algorithms 
                            </li>
                        </ul>
                        <strong><li>Operating systems</li></strong>
                        <ul style="list-style-type:disc">
                            <li>Linux OS, Windows (XP, Vista, 7) and Mac OS
                            </li>
                        </ul>
                       <strong><li>Marketing and Management</li></strong>
                         <ul style="list-style-type:disc">
                              <li>Strategic and analytical thinking, verbal communication, leading cross functional teams, managing, working under pressure, negotiating, coordination, collabration
                              </li>
                          </ul>
                        <strong><li>Time Management</li></strong>
                        <ul style="list-style-type:disc">
                            <li>Ability to meet deadlines, creativity, multitasking, prioritizing, time Management
                            </li>
                        </ul>
                      </ul>
                    </ol>
                  </div>
              </section>
          </article>
          <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87455402-4', 'auto');
  ga('send', 'pageview');

</script>
      </body>
  </html>