    <!doctype html>

    <html>
    <head>
      <link href=" ../css/Bahar.css" rel="stylesheet" type= "text/css"/>
      <meta charset="utf-8">
      <meta name="google-site-verification" content="0LdpJynj4Z081svj2ZZfqO_6awMahcfAWNb-b_Ajef4" />
      <title>Bahar Mohimani</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    </head>

    <body>
      <ul class="tab">
  
          <li><a href= "./contact.html" class="tablinks highlighted">Contact</a></li>
          <li><a href= "./hi.html" class="tablinks highlighted">Resume</a></li>
          <li><a href= "./projects.html" class="tablinks highlighted">Projects</a></li>
          <li><a href= "./" class="tablinks highlighted">Home</a></li>
  
          </ul>
                      <A HREF = "https://github.com/nwaokoron/TasteBuddy"><img src = " ../images/oranggithub.png" width=auto height="150" align= bottom vspace="10px" hspace="400"></A>
                      
                        <ul style="list-style-type:disc">
                          <li>Managed interaction among front-end and back-end developers and made-up client (student group in class)</li>
                          <li>Kept a log of user stories and user need</li>
                          <li>Managed in-person meetings, and skype calls between the team members and client</li>
                          <li>Managed the schedule to meet key milestones and deadlines
                          </li>
                          <li>Divided app development to multiple phases, and reported progress to meet client’s expectation</li>
                        </ul>
                      <ul style="list-style-type:disc">
                      <li>created a login screen</li>
                      <p><img src = " ../images/login.png" width="250" height=auto align="middle"></img ></p>
                      <li> helped with the buttons in the createaccount page</li>
                      <p><img src = " ../images/createaccount.png" width="250" height=auto align="middle"></img ></p>
                      <li>created button in post login screen</li>
                      <p><img src = " ../images/postlogin.png" width="250" height=auto align="middle"></img ></p>
                      </ul>
                      

      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-87455402-4', 'auto');
      ga('send', 'pageview');

      </script>
    </body>
    </html>